@using Domain.Entities;
@model List<OrderDetails>
@if (Model != null && Model.Any())
{
    int i = 0;
    foreach (var order in Model.GroupBy(o => o.OrderID))
    {
        i++;
        var orderDetails = order.First();
        <tr data-bs-toggle="collapse" data-bs-target="#order-@orderDetails.OrderID" aria-expanded="false" aria-controls="order-@orderDetails.OrderID">
            <td>@i</td>
            <td>@orderDetails.OrderID</td>
            <td>@orderDetails.UserName</td>
            <td>@orderDetails.ShippingAddress</td>
            <td>@orderDetails.PaymentModes</td>
            <td>@orderDetails.OrderStatus</td>
            <td class="table-action">
                <button type="button" class="btn btn-primary">Action</button>
            </td>
        </tr>
        <tr id="order-@orderDetails.OrderID" class="collapse">
            <td colspan="10">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Unit</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in order)
                        {
                            <tr>
                                <td>@product.ProductName</td>
                                <td>@product.Description</td>
                                <td>
                                    <img src="@product.ImageURI" alt="Product Image" width="100" height="100" />
                                </td>
                                <td>@product.Unit</td>
                                <td>@product.Price</td>
                                <td>@product.Quantity</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="12" style="text-align:center" class="danger">Record Not Found!</td>
    </tr>
}