@using Domain.Entities;
@model List<DeliveryPartner>
@if (Model != null && Model.Any())
{
    int i = 0;
    foreach (var item in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>@item.FirstName  @item.LastName</td>
            <td><img src="@item.ImageUrl" alt="ProductImage" width="100" height="100" /></td>
            <td>@item.Email</td>
           
            <td>@item.AadharNumber</td>
            <td>@item.PhoneNumber</td>
            <td>@item.DrivingLicense</td>
            <td>@item.Address</td>
            <td>@item.City</td>
            <td>@item.State</td>
            <td>@item.PostalCode</td>
            <td>@item.VehicleType</td>
            <td>@item.VehicleNumber</td>
            <td>@item.JoiningDate</td>
            <td>@item.IsVerified</td>
            <td class="table-action">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Action</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" onclick="AddOrEditDeliveryPartner(@item.ID)"><i class="mdi mdi-plus-circle me-2"></i>Edit Partner</button>
                    </div>
                </div>
            </td>
        </tr>


    }
}
else
{
    <tr>
        <td colspan="18" style="text-align:center" class="danger">Record Not Found!</td>
    </tr>
}
