@model IEnumerable< Domain.Entities.Product>
<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                            <li class="breadcrumb-item active">Products</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Products</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <button onclick="AddOrEditProduct(0)" s class="btn btn-danger mb-2">
                                    <i class="mdi mdi-plus-circle me-2"></i> Add Product
                                </button>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button type="button" class="btn btn-success mb-2 me-1">
                                        <i class="mdi mdi-cog-outline"></i>
                                    </button>
                                    <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                                    <button type="button" class="btn btn-light mb-2">Export</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-centered w-100 dt-responsive nowrap" id="grid">
                                <thead class="table-light">
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Product Name</th>
                                        <th>Product Description</th>
                                        <th>Image</th>
                                        <th>Category</th>
                                        <th style="width: 85px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        int i = 0;
                                        foreach (var item in Model)
                                        {
                                            i++;
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.ProductName</td>
                                                <td>@item.Description</td>
                                                <td><img src="@item.ImageUrl" alt="Product_@i" width="80" height="70"></td>
                                                <td>@item.CategoryName</td>
                                                <td class="table-action">
                                                    <a href="javascript:void(0);" class="action-icon" onclick="AddOrEditProduct(@item.ProductId)"> <i class="mdi mdi-square-edit-outline"></i></a>

                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="12" style="text-align:center" class="danger">Record Not Found!</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- end container-fluid -->
</div> <!-- end content -->

