@model Domain.Entities.ApiResponseProduct
@if (Model.Table1 != null && Model.Table1.Any())
{
    int i = 0;
    foreach (var item in Model.Table1)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>@item.ProductName</td>
            <td>@item.Description</td>
            <td><button id="test" class="btn" onclick="openImages(@item.ProductId)">Show Images</button></td>
            <td>@item.SubCategoryName</td>
            <td class="table-action">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Action</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item" onclick="addVarient(@item.ProductId)"><i class="mdi mdi-plus-circle me-2"></i>Add Varient</button>
                        <button class="dropdown-item" onclick="addSliderImage(@item.ProductId)"><i class="mdi mdi-plus-circle me-2"></i>Add Slider Image</button>
                        <button onclick="AddOrEditProduct(@item.ProductId)" class="dropdown-item"><i class="mdi mdi-square-edit-outline"></i> Edit</button>
                        <button onclick="varientDetails(@item.ProductId)" class="dropdown-item">Varient Details</button>
                    </div>
                </div>
            </td>
        </tr>


    }
}
else
{
    <tr>
        <td colspan="12" style="text-align:center" class="danger">Record Not Found!</td>
    </tr>
}
