@using Domain.Entities;
@model IEnumerable<ProductVarientRes>
<div id="modal"></div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                            <li class="breadcrumb-item active">Products</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Products</h4>
                </div>
            </div>
        </div>
        <div class="row" id="partialview">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <button type="button" class="btn btn-danger mb-2" onclick="addVarientmore()">
                                    <i class="mdi mdi-plus-circle me-2"></i> Add More Varient
                                </button>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button type="button" class="btn btn-success mb-2 me-1">
                                        <i class="mdi mdi-cog-outline"></i>
                                    </button>
                                    <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                                    <button type="button" class="btn btn-light mb-2">Export</button>
                                </div>
                            </div>
                        </div>
                        <div id="hidden-content" style="display:none;"></div>
                        <div class="table-responsive">
                            <table class="table table-centered w-100 dt-responsive nowrap" id="grid">
                                <thead class="table-light">
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Product Name</th>
                                        <th>Product Description</th>
                                        <th>Image</th>
                                        <th>Category</th>
                                        <th>MRP</th>
                                        <th>Discount</th>
                                        <th>Selling Price</th>
                                        <th>VarientType</th>
                                        <th style="width: 85px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {
                                        int i = 0;
                                        foreach (var item in Model)
                                        {
                                            i++;
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.ProductName</td>
                                                <td>@item.Description</td>
                                                <td><button id="test" class="btn" onclick="openImages(@item.ProductId)">Show Images</button></td>
                                                <td>@item.CategoryName</td>
                                                <td>@item.MRP</td>
                                                <td>@item.Discount</td>
                                                <td>@item.SellingPrice</td>
                                                <td>@item.VarientType</td>
                                                <td class="table-action">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-primary">Action</button>
                                                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="visually-hidden">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <button hidden class="dropdown-item" id="addMoreVarient" onclick="addVarient(@item.ProductId,'0')"><i class="mdi mdi-plus-circle me-2"></i>Add mO Varient</button>
                                                            <button onclick="addVarients('0',@item.VarientId)" class="dropdown-item"><i class="mdi mdi-square-edit-outline"></i> Edit</button>
                                                           
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>


                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="12" style="text-align:center" class="danger">Record Not Found!</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var addVarient = (ProductId) => {
        $.post('/Varient', { ProductId: ProductId}).done((response) => {
            $("#modal").html(response);
            $("#exampleModalCenter").modal("show");
        })
    }
    var addVarientmore = () => {
        $("#addMoreVarient").click();
    }

    var AddOrEditProductVarient = (Id) => {

    }


    var saveVarient = () => {
        debugger;

        if (!valiadteInputs()) {
            return false;
        }
        let obj = {
            ProductId: $("#ProductId").val(),
            VarientTypeId: $("#VarientTypeId").val(),
            MRP: $("#MRP").val(),
            Discount: $("#Discount").val(),
            Description: $("#Description").val()
        }
        var formData = new FormData();
        formData.append("JsonData", JSON.stringify(obj));
        var imageInput = $('#ImageUrl')[0];
        if (imageInput.files.length > 0) {
            for (var i = 0; i < imageInput.files.length; i++) {
                var file = imageInput.files[i];
                formData.append('productvarientImages', file);
            }
        }
        $.ajax({
            url: '/Product/SaveProductVarient',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                $("#exampleModalCenter").modal("hide");
                loadData();
                QAlert(response.statusCode, response.responseText);
            },
            error: function (error) {
                alert("Error saving product.");
            }
        });
    }

    var varientDetails = (Id) => {
        window.location.href = "/Product/VarientDetails?Id=" + Id;
    }
</script>