@model Domain.Entities.WebsiteModel;
<style>
    #variantDetailsTable {
        border-collapse: collapse;
    }

        #variantDetailsTable th,
        #variantDetailsTable td {
            border: none !important;
        }
</style>
@if (Model.ProductVarientAPIRES != null && Model.ProductVarientAPIRES.Products.Count() > 0)
{
    @foreach (var product in Model.ProductVarientAPIRES.Products)
    {
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
            <div class="product-cart-wrap mb-30">
                <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                        <a href='shop-product-right.html'>
                            <img class="default-img productImage" src="@product.ImageUrl" alt="" />
                            <img class="hover-img" src="@product.ImageUrl" alt="" />
                        </a>
                    </div>
                    <div class="product-action-1">
                        <a aria-label='Add To Wishlist' class='action-btn' href='shop-wishlist.html'><i class="fi-rs-heart"></i></a>
                        <a aria-label='Compare' class='action-btn' href='shop-compare.html'><i class="fi-rs-shuffle"></i></a>
                        <button aria-label="Quick view" class="action-btn" id="quickviewOpenModal" onclick="productDetail(@product.ProductId)"><i class="fi-rs-eye"></i></button>
                    </div>
                    <div class="product-badges product-badges-position product-badges-mrg">
                        <span class="hot">Hot</span>
                    </div>
                </div>
                <div class="product-content-wrap">
                    <div class="product-category">
                        <a>@product.SubCategoryName</a>
                    </div>
                    <h2><a class="productname">@product.ProductName</a></h2>
                    @if (product.IsVarient)
                    {
                        <div class="outer-unitv-div" onclick="showVarients(@product.ProductId)" style=" align-items: center; display: flex; height: 31px; width: 100%; border: 1px solid #dbdbdb; border-radius: 5px;">
                            <div class="unit m-2">@product.Quantity@product.UnitType.ToLower()</div>
                            <i class="fi-rs-angle-down" style="margin-left: auto; padding-right: 10px;"></i>
                        </div>
                    }
                    else
                    {
                        <div class="unit m-2">@product.Quantity@product.UnitType.ToLower()</div>
                    }
                    <div class="product-card-bottom">
                        <div class="product-price">
                            <span>&#8377;@product.SellingPrice</span>
                            <span class="old-price">&#8377;@product.MRP</span>
                        </div>
                        <div class="add-cart">
                            <a class='add addtoCart' id="addToCart-@product.ProductId" onclick="addToCart('@product.ProductId', this)"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                            <div class="add quantity-buttons d-none d-flex" id="quantity-buttons-@product.ProductId">
                                <span class="decrement-btn" onclick="updateQuantity('@product.ProductId', -1)" style="margin-right: 6px;font-size: 18px;font-weight: bold;"><strong>-</strong></span>
                                <span id="quantity-@product.ProductId" style="font-size: 15px;font-weight: bold;">1</span>
                                <span class="increment-btn" onclick="updateQuantity('@product.ProductId', 1)" style="margin-left: 6px;font-size: 18px;font-weight: bold;    "><strong>+</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<div id="pvarientModal"></div>
<script src="~/js/cart.js"></script>
<script>
    var showVarients = (productId) => {
        $.post('/ProductVarient/GetProductVarientById', { ProductId: productId }).done((result) => {
            $("#pvarientModal").html(result);
            $("#variantModal").modal('show');
        })
    }
    var productDetail = (productId) => {
        $.post("/ProductVarient/ProductDetail", { productId: productId }).done((res) => {
            $("#productDetail").html(res);
            $("#quickViewModal").modal("show");
        })
    }
</script>