@model Domain.Entities.WebsiteModel;

@if(Model.Product!=null && Model.Product.Count() > 0)
{
    @foreach (var product in Model.Product)
    {
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
            <div class="product-cart-wrap mb-30">
                <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                        <a href='shop-product-right.html'>
                            <img class="default-img" src="@product.ImageUrl" alt="" />
                            <img class="hover-img" src="@product.ImageUrl" alt="" />
                        </a>
                    </div>
                    <div class="product-action-1">
                        <a aria-label='Add To Wishlist' class='action-btn' href='shop-wishlist.html'><i class="fi-rs-heart"></i></a>
                        <a aria-label='Compare' class='action-btn' href='shop-compare.html'><i class="fi-rs-shuffle"></i></a>
                        <button aria-label="Quick view" class="action-btn" id="quickviewOpenModal" onclick="productDetail(@product.ProductId)"><i class="fi-rs-eye"></i></button>
                    </div>
                    <div class="product-badges product-badges-position product-badges-mrg">
                        <span class="hot">Hot</span>
                    </div>
                </div>
                <div class="product-content-wrap">
                    <div class="product-category">
                        <a href='shop-grid-right.html'>@product.SubCategoryName</a>
                    </div>
                    <h2><a href='shop-product-right.html'>@product.ProductName</a></h2>
                    <p>@product.Quantity@product.UnitType.ToLower()</p>
                   @*  <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select> *@
                    <div class="product-card-bottom">
                        <div class="product-price">
                            <span>@product.SellingPrice</span>
                            <span class="old-price">@product.MRP</span>
                        </div>
                        <div class="add-cart">
                            <a class='add' href='shop-cart.html'><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<script>
    var productDetail = (productId) => {
        $.post("/ProductVarient/ProductDetail", { productId: productId }).done((res) => {
            $("#productDetail").html(res);
            $("#quickViewModal").modal("show");
        })
    }
    
</script>