@using Domain.Entities;
@using Domain.Enum
@model List<Shop>
@if (Model != null && Model.Any())
{
    int i = 0;
    foreach (var item in Model)
    {
        i++;
        <tr data-item-shopId="@item.ShopId">
            <td>@i</td>
            <td>@item.ShopName</td>
            <td>@item.ShopDescription</td>
            <td>@item.OwnerName</td>
            <td>@item.OwnerContactNumber</td>
            <td>@item.OwnerEmail</td>
            <td>
                @{
                    string className = item.VerificationStatus == VerificationStatus.SUCCESS ? "green" : "red";
                }
                <span class="badge badge-info" style="background: @className;">@item.VerificationStatus</span>
            </td>
            <td><img src="@item.BusinessLicensePath" alt="License Image" width="100" height="100" /></td>
            <td>@item.BusinessRegistrationNumber</td>
            <td>@item.GSTNumber</td>
            <td>@item.StreetAddress  @item.City  @item.State [@item.PostalCode]</td>
            <td>@item.BankName</td>
            <td>@item.AccountNumber</td>
            <td>@item.Branch</td>
            <td>@item.IFSCCode</td>
            <td>@item.Lattitude</td>
            <td>@item.Longitude</td>
            <td>@item.Remark</td>

        </tr>


    }
}
else
{
    <tr>
        <td colspan="12" style="text-align:center" class="danger">Record Not Found!</td>
    </tr>
}
