@using Domain.Entities;
@model List<ProductVarientRes>;
<div class="modal fade" id="variantModal" tabindex="-1" aria-labelledby="variantModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="variantModalLabel">@Model.FirstOrDefault().ProductName</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="product_varients_modal">
                    @foreach (var v in Model)
                    {
                        <div class="card variants">
                            <div class="card-body row">
                                <input value="@v.VarientId" type="hidden" id="varientid" />
                                <input value="@v.VendorId" type="hidden" id="vendorId" />
                                <div class="varient-image col-sm-3">
                                    <img src="@v.ImageUrl" width="100" height="100" alt="Varient_Image">
                                </div>
                                <div class="varient-unit col-sm-3 text-center" style="margin-top: 2.5rem;">
                                    @Convert.ToInt32(v.Quantity)@v.UnitType.ToLower()
                                </div>
                                <div class="varient-price col-sm-3 text-center" style="margin-top: 2.5rem;">
                                    <span>₹@v.SellingPrice</span>
                                    @if (v.Discount > 0)
                                    {
                                        <span class="old-price" style="font-size: 14px;color: #adadad;margin: 0 0 0 7px; text-decoration: line-through;">@v.MRP</span>
                                    }
                                </div>
                                <div class="addvarient col-sm-3 text-end" style="margin-top: 2.5rem;">
                                    <div class="add-cart">
                                        <a class="add addtoCart" id="addToCart-@($"{v.ProductId}V{v.VarientId}")" onclick="addToCart(@v.ProductId,this)"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                        <div class="add quantity-buttons d-none d-flex" id="quantity-buttons-@($"{v.ProductId}V{v.VarientId}")">
                                            <span class="decrement-btn" onclick="updateQuantity('@($"{v.ProductId}V{v.VarientId}")', -1)" style="margin-right: 6px;font-size: 18px;font-weight: bold;"><strong>-</strong></span>
                                            <span id="quantity-@($"{v.ProductId}V{v.VarientId}")" style="font-size: 15px;font-weight: bold;">1</span>
                                            <span class="increment-btn" onclick="updateQuantity('@($"{v.ProductId}V{v.VarientId}")', 1)" style="margin-left: 6px;font-size: 18px;font-weight: bold;    "><strong>+</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        initializeCart();
    })
    function initializeCart() {
        debugger
        let cart = JSON.parse(localStorage.getItem('cart')) || { items: {} };
        for (let productId in cart.items) {
            if (cart.items.hasOwnProperty(productId)) {
                $(`#addToCart-${productId}`).addClass('d-none');
                $(`#quantity-buttons-${productId}`).removeClass('d-none');
                $(`#quantity-${productId}`).text(cart.items[productId].quantity);
            }
        }
    }
</script>